body {
    font-family: 'Noto Serif JP', serif;
}

.red {
    color: #F44336 !important;
}

.navbar-toggler,
.navbar-toggler:focus,
.navbar-toggler:active,
.navbar-toggler-icon:focus {
    outline: none;
    box-shadow: none;
    border: none;
}